    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2021 
                        
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Suivez nous</p></li>
                                <li><a rel="nofollow" href="https://www.facebook.com/cjselalia"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://www.instagram.com/c.j.s.elalia/?hl=fr"><i class="fa fa-instagram"></i></a></li>
                                <li><a rel="nofollow" href="https://www.linkedin.com/company/club-jeunes-science-el-alia/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    