{% extends 'base.html.twig' %}

{% block title %}New Branche{% endblock %}

{% block body %}
    <h1>Create new Branche</h1>

    {{ include('branche/_form.html.twig') }}

    <a href="{{ path('branche_index') }}">back to list</a>
{% endblock %}
