{{ form_start(form) }}
    {{ form_widget(form) }}
       <button type="submit" id="form-submit" class="main-button-icon">Envoyer le message<i class="fa fa-arrow-right"></i></button>
{{ form_end(form) }}
