



{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
{% form_theme form _self %}



<section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contactez nous</h6>
                            <h2>Restez en contact avec nous!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="/assets/images/contact-info-01.png" alt="">58 197 176</li>
                            <li><img src="/assets/images/contact-info-02.png" alt="">j.s.elalia@gmail.com</li>
                            <li><img src="assets/images/contact-info-03.png" alt="">www.company.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        {{ include('contact/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}



