{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}
<section class="section" id="projects">
<div class="container">
    <div class="row " >
        <h1> Les branches </h1>
            <div >
               {{ branche.description }} 
               <div>
            <div class="mt -3">
               
            </div>
    </div>
</div>
</section>

{% endblock %}