{% extends 'base.html.twig' %}
{% block title %}
    historique
{% endblock %}


{% block body %}
 <section class="section" id="projects">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                <h2> Historique </h2><br>
                    <p>
                    Le club jeunes sciences El Alia est une branche de l’association Tunisienne Jeune et Sciences, une organisation non gouvernementale de nature culturelle et scientifique, qui a été envoyé aux jeune et aux cible non commerciale.<br><br>
                Le club jeunes sciences El Alia a été fondé le 2 mars 1986 par le président du club monsieur  Hssine sherif et une équipes des ingénieures, des professeurs  et des étudiants comme le vice pésident  monsieur Tijani lahbib, le auteur public monsieur  Hammadi ben salem…<br><br>
                Lors de son installation le CJSEA  se spécialise dans deux catégories d’activité :<br>
                    - Information et électronique<br>
                    -Astronomie, sciences de la vie et la terre<br>
                    </p>
                </div>
                        <div class="col -info">          
                                <img src="assets/images/5.png"  width="100%" >
                        </div>
            </div>
         <div class="row mt-3">
         <div class="col-lg-6">
                <p>
                Au cours des dernières années le CJSEA a été essayé d’étendre les catégories de ses activités  par l’intégration des nouvelles  branches comme le développement web, robotique, sécurité informatique et intelligence artificielle.<br>
                Actuellement le nombre des membres  inscrit au sien du club a dépassé les  64 membres  a fin de l’année 2021.
                </p>
                </div>
                        <div class="col -info">          
                                <img src="assets/images/6.jpg"  width="100%" >
                        </div>
            </div>
        </div>
        <div class="container mt-3" align="center">
             <div>
                <h2><center><strong>Administration </strong></center></h2>
             </div>
           <div class="container mt-3">
                <div class="row mt -3">
                    <div class="col">
                <img src="assets/images/iskander abbassi.jpeg" width="50.5%">
                    <h4>Iskander Abbassi  </h4>
                    <spam> Président </spam>
                    </div>
                    <div class="col">
                        <img src="assets/images/houssem troudi.jpeg" width="55.5%">
                        <h4>Houssem Troudi </h4>
                        <spam> vice Président </spam>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <img src="assets/images/khawla othmani.jpeg" width="50%">
                        <h4>khawla Othmani </h4>
                        <spam> Secrétaire Générale  </spam>
                    </div>
                    <div class="col">
                        <img src="assets/images/Ghada kachout.jpeg" width="80%">
                                <h4>Ghada kachout </h4>
                                <spam> Vice Secrétaire Générale  </spam>
                    </div>
                    <div class="row mt-3">
                <div class="col">
                    <img src="assets/images/Mekki lahbib.jpeg" width="70%">
                    <h4>Mekki Lahbibi </h4>
                    <spam>Trésorier </spam>
                </div>
                <div class="col">
                    <img src="assets/images/najjar oussama.png" width="65%">
                            <h4>Oussama Najjar </h4>
                            <spam> Vice Trésorier  </spam>
                </
            </div>
            </div>

        </div>

</section>
{% endblock %}

