{% extends 'base.html.twig' %}
{% block title %}
    Accueil
{% endblock %}
{% block body %}


<div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/1.jpg"  width="100%">
                <div class="text-content">
             
                  <a href="#projects" class="main-stroked-button">Actualités</a>
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/2.jpg"  width="100%" alt="">
                <div class="text-content">
                  <a href="#projects" class="main-stroked-button">Actualités</a>
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/3.jpg"  width="100%" alt="">
                <div class="text-content">
                  <a href="#projects" class="main-stroked-button">Actualités</a>
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
           <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/4.png"  width="100%" alt="">
                <div class="text-content">
                  <a href="#projects" class="main-stroked-button">Actualités</a>
                  
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>



    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Nos activités</h6>
                    <h2>Notre actualités</h2>
                </div>
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">Tous</li>
                        <li data-filter=".des">Développement web</li>
                        <li data-filter=".dev">Robotique</li>
                        <li data-filter=".gra">Sécurité informatique </li>
                        <li data-filter=".tsh">Intellegence Artificielle</li>
                        <li data-filter=".tsh">Science</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/project-big-item-01.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-01.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/project-big-item-02.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-02.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="assets/images/project-big-item-03.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-03.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="assets/images/project-big-item-04.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-04.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="assets/images/project-big-item-05.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-05.jpg" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="assets/images/project-big-item-06.jpg" data-lightbox="image-1" data-title="Our Projects"><img src="assets/images/project-item-06.jpg" alt=""></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}